{% extends '_base.html' %}

{% block content %}
<h1 class="p-3">Hello world!</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur commodi dolor eligendi ipsa iure, iusto libero maxime numquam possimus. Aliquam aspernatur at commodi dolores fuga fugiat ipsum obcaecati voluptas.</span><span>Adipisci, animi commodi consequatur cum doloremque dolorum eligendi eum, exercitationem fugiat nam nesciunt perferendis quas qui tempora totam. Aliquam atque consequatur dolorum eius est fugit ipsa libero magni obcaecati voluptas.</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem culpa cupiditate deleniti dolore dolores error exercitationem explicabo facere fuga id illo impedit inventore, officiis possimus quod recusandae, sint soluta.</span><span>Accusamus aliquid assumenda at distinctio ducimus, explicabo harum magni minus numquam quaerat, quam recusandae, similique ut veritatis voluptatum. Debitis explicabo illo quia veritatis? Architecto doloribus et facere, harum modi quam.</span></p>
{% endblock %}

{% block aside %}
<p>Lorem ipsum.</p>
<a href=""><img class="img-aside" src="{{ url_for('static', filename='img/aside.jpg')}}" alt="aside"></a>
{% endblock %}