{% extends '_base.html' %}

{% block content %}


<div class="container">
  <h1 class="p-3">Hello world!</h1>
  <div class="row">
    <div class="col">
      1 of 3
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur dignissimos fuga ipsum libero officia omnis porro quos rem vel. Adipisci atque et iste, laudantium recusandae reprehenderit sit unde vitae?
    </div>
    <div class="col-6">
      2 of 3 (wider)
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis expedita facilis laboriosam nesciunt nisi quia sapiente ullam velit veniam? Aliquid blanditiis debitis id laudantium nesciunt possimus quae quibusdam vel!
    </div>
    <div class="col">
      3 of 3
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae doloremque, earum facilis hic id ipsum magni nihil quas, quia sed tempora unde ut vel, velit! Facilis illum quis rerum?
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias culpa dolor eos facere iusto, magni nemo non numquam quod reprehenderit sint soluta, voluptas voluptatem. Dignissimos eaque excepturi illum natus ratione?
    </div>
    <div class="col-5">
      2 of 3 (wider)
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut autem commodi consequatur culpa dolorem eos est id illo incidunt molestiae nisi quasi, quod saepe tempora totam voluptatem? Consequatur, dolorum!
    </div>
    <div class="col">
      3 of 3
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid dignissimos distinctio doloribus enim exercitationem, facere modi molestiae nesciunt nihil nulla quia quibusdam saepe similique tempore? Ducimus fugiat soluta sunt.
    </div>
  </div>
</div>

{% endblock %}