{% extends 'helpers/_base.html' %}
{% set modal_id = 'deleteModalForm' %}
{% set btn_id = 'deleteForm' %}

{% block content %}
<div class="col-6">
<h3>Hello <b>{{user.username}}</b></h3>

<a class="btn btn-outline-primary" href="{{ url_for('auth.edit_user', username=user.username)}}">Edit</a>
<button class="btn btn-outline-danger"  id="{{btn_id}}" data-target="#{{modal_id}}" data-toggle="modal" >Delete</button>


{% include 'helpers/_modal-form.html' %}


{% endblock %}

{% block scripts %}
{{ super() }}</div>
<script>
$('#{{modal_id}}').on('shown.bs.modal', function () {
  $('#{{btn_id}}').trigger('focus')
})
</script>

{% endblock %}

<!-- TODO  zrobię formularz do coockies, porozglądać się :\ bez gotowców-->